/**
Mise en page générale avec display:grid
*/


.site__entete {
  grid-area: header; padding: 1rem clamp(1rem, 3vw, 20rem);
 
  }


.site__main {
  grid-area: main;
  overflow: hidden;
  // padding: 1rem clamp(1rem, 3vw, 20rem);
  background-color: #5FA9D3;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: auto;
  height: auto;
}


.site__footer{
  grid-area: footer;
  width : 100%;
  // padding: 1rem clamp(1rem, 3vw, 20rem);
  background-color: #0080ff;
}

.site__aside{
  grid-area: aside;
  // padding: 1rem clamp(1rem, 3vw, 20rem);
  background-color: rgb(160 139 228);
  h3{
    margin: 1em;
    padding: 1em;
  }
}


.site {
  margin : 0 auto;
  //width : 80%;
  display: grid;
  max-width: 100vw;
  overflow-x: hidden;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
  //row-gap: 50px;
  @media screen and (min-width:$largeur__bureau) {
      grid-template-columns: 25% auto; 
      grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
  }
}

.no-aside {
  grid-template-areas:
  "header"
  "main"
  "footer";
  @media screen and (min-width:$largeur__bureau) {
      grid-template-columns: auto; 
      grid-template-areas:
      "header"
      "main"
      "footer";
      }
}

