.blocflex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    article{
        flex: 1 0 250px;
        padding: 5px;
        margin: 10px;
        border: 1px solid #aaa;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        color: #FFFDD0; 
    }
}