.blocflex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 100vh;
    h1{
        padding: 5%;
    }
}
//Permet de stylisé le blocflex__article soit chaque boite et réussir la galerie, 
.blocflex__article{
 display: flex;
 flex-direction: column;
 flex : 1 0 300px;
 flex-wrap: wrap;
 padding: 5px;
 margin: 10px;
 border: 3px solid rgb(218, 52, 52);
 box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 color: #FFFDD0;
 justify-content: center;
 text-align: center;
 margin-top: 3rem;
 @media screen  and (min-width:1000px) {
    display: flex;
    flex-direction: row;
 }

 
}
.blocflex__article:hover{
    background-color: rgb(77, 102, 172);
    color:whitesmoke;
}
.blocflex__galerie{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width:1000px){
        flex: 1 0 100%;
    }
}
.blocflex__figure{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img{
        display: block;
        width: 150px;
    }

}