.entete__nav{ // logo, menu, form de recherche, bouton burger
     display : flex;
    justify-content: space-between;
    align-items: center;
    

    
}
.site__titre{
    font-size: clamp(1rem, 0.5909rem + 1.6364vw, 3.25rem);
    color: #1A2B3C;
    padding:1rem;
    font-family: 'Russo One', sans-serif;
  
        a{
           text-decoration: none;
           
        }
      
}
 
.custom-logo{
    border-radius: 50%;
    padding: 1rem;
}

.menu__recherche { // menu, form de recherche, bouton
    display:flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    @media screen and (min-width:$largeur__bureau) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        
    }
}
/* ///////////////////////////////// menu__entete */
.menu__entete{ //nav
    /*position: absolute;
    top: 100px;
    right: 0;*/
    transform : translateX(200%);
    transition: transform .5s;
    @media screen and (min-width:$largeur__tablette) {
        //position: static;
        transform: translateX(0);
    }
    .menu{ // ul
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        list-style-type: none;
        @media screen and (min-width : $largeur__tablette) {
           flex-direction: row; 
           align-items: center;
           
        }
       
        .menu-item{
                a{
                    
                    //box-shadow: 0.6rem 0.9rem 1.25rem;//10px 15px 20px
                    //background-color: bisque;
                    
                    display:block;
                    padding: 3px 5px;
                    text-decoration: none;
                    font-family: 'Roboto', sans-serif;
                    
                }
        }
    }
    /*---------------------------------------- pour annuler les bullets ---*/
    .menu .menu-item::before {
        content: "";
        background: transparent;
        border-radius: 0;
        padding-inline: 0;
        margin-inline-end: 0;
        width: 0;
        height: 0;
          }
          ul li li::before
          {
            background: transparent;
            content: "";
          }
       
        
   
    
}
 /*---------------------------------------------------------------------------- bouton burger */
.burger{
    border: 1px solid #aaa;
    display:block;
    @media screen and (min-width:$largeur__tablette) {
        display: none;
    }

}
#chkburger:checked ~ .menu__entete{
 transform: translate(0);
}
#chkburger{
    display:none;
    
}