.entete__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navi{
        display: flex;       
    }
    /*.recherche{
        position:absolute;
        top:1rem;
        left:98rem;
    }*/
    
}
.site__titre{
    text-decoration: none;
    color: rgb(131, 129, 129);  
}
.site__titre h1{
    font-size: clamp(1rem, 0.5909rem + 1.6364vw, 3.25rem);
    a{
       text-decoration: none; 
    }
}
.custom-logo{
    border-radius: 50%;
    //position: absolute;
    //box-shadow: ;
    padding: 1rem;
}
/* ///////////////////////////////// menu__entete */
.menu__entete{ //nav
    .menu{
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        
        right: 0%;
        padding-top: 1rem;
       .menu-item{
        a{
            padding: 1rem;
            box-shadow: 0.6rem 0.9rem 1.25rem;//10px 15px 20px
            background-color: bisque;
            margin: 1rem;
         }
       }

        .menu-item::before{
            content: "";
            background: transparent;
            border-radius: .5rem;
            padding-inline: .3rem;
            margin-inline-end: .3rem;
          
        }

    }
}