.site__footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #3478bc;
    @media screen and (min-width:1000px) {
        display: flex;
        align-items: center;
        flex-direction: row;
        align-items: space-between;
        width: 100%;
        height: 100%;
        
        }
   .footer_col{
    width: 100%;
    height: 100%;
    img{
        margin: 3rem;
        border-radius: 50%;
       
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
   }
    @media screen and (min-width:$largeur__bureau){
        .footer_col{
            width: 100%;
            height: 100%;
            img{
                margin: 5rem;  
            }
    }   
}

}
