.site__footer{
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
    background-color: #0080ff;
   
    @media screen and (min-width:$largeur__tablette){
       
    }

    
    
    
}
