.menu__evenement,
.menu__bloc-archive{//nav
    background-color:transparent;
    width: 100%;
    height: 100%;
    
    .menu{//ul
        display: flex;
        justify-content: space-between;
        
        @media screen and (min-width:1000px) {       
            height: auto;
            width: auto;
        }
        
        .menu-item{//li
            border: 2px solid rgb(58, 98, 226);
            margin: 20px;
            height: 100%;
            padding: 1em;
            a{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                color : #333;
                background-color: rgba(0,0,0,.05);
                .title{
                    font-size: 2rem;
                    padding: 0.4rem;
                }
                .menu-thumbnail{
                    display: block;
                    width: 150px;
                    height: 150px;
                }
            }
            &:hover {
                color : rgb(29, 52, 200);
                background-color: rgba(0,0,0,.1);

            }
             

        }
    }
}
.description{
    padding: 0.2em;
}
.img__archive{
 width: 20%;
 height: 50px;
 object-fit: cover;
 background-image: no-repeat;

}
.archive__cours{
 background-image: url("https://s2.svgbox.net/hero-solid.svg?ic=academic-cap");
 background-size: 5%;
 background-repeat: no-repeat;
 background-position: right 50% bottom 30%;
 @media screen and (min-width:1000px) {
    background-size:6%;
    background-repeat: no-repeat;
    
    
 }
 
}
.archive__4w4{
 background-image: url("https://s2.svgbox.net/hero-outline.svg?ic=briefcase");
 background-size: 5%;
 background-repeat: no-repeat;
 background-position: right 50% bottom 30%;
 @media screen and (min-width:1000px) {
    background-size:6%;
    background-repeat: no-repeat;
    
    
 }
}