html{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    //background-color: rgb(205, 33, 33);
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content; //rempli le conteneur
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    .site__description{
        font-family: "Slackey", cursive;
    }
    p{
        margin: 1em;
    }
    background-image: transparent;
   .title{
    font-size: 2em;
   }
   h1>a{
    color:rgb(40, 59, 58);
    text-decoration: none;
    font-size: 2em;
   }
   h2{
    color:rgb(58, 85, 84);
    text-decoration: none;
    font-size: 1.5em;
   }
   h5{
    font-size: 1.25rem;
   }
   figure p{
    p{
        font-size: 1.6rem;
    }
   }

}

