body{
    background-color: rgb(205, 33, 33);
    display: flex;
    flex-direction: column;
    position: relative;
    .site__description{
        font-family: "Slackey", cursive;
    }
    main{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        background-color: rgb(172, 41, 41);
        height: auto;
        
     
    }
    .site__footer{
        color:white;

    }
    


}