body{
    //background-color: rgb(205, 33, 33);
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content; //rempli le conteneur
    height: 100%;
    
    .site__description{
        font-family: "Slackey", cursive;
    }
    p{
        margin: 1em;
    }
    menu{
       display: block;

        @media screen and (min-width:$largeur__bureau) {
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            
        }
    }
    


}